---
import type Project from '../types/Project';
import Chip from './Chip.astro';

interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<div
  class="mx-auto h-full rounded-xl shadow-md transition-shadow duration-300 hover:shadow-lg md:max-w-3xl"
>
  <div class="h-full gap-10 p-8 md:flex">
    <div class="justify-top md:flex md:flex-col">
      <i
        class=`las ${project.imageLineAwesomeClass ?? 'la-file-code'} la-4x mb-6 inline-block rounded-full bg-teal-100 p-2 text-teal-700 md:mb-0`
      ></i>
    </div>
    <div class="flex flex-col justify-between gap-6">
      <div>
        <div class="mb-3">
          <p class="text-sm font-semibold uppercase tracking-wide text-teal-700">
            {project.industry}
          </p>
          <p class="mt-1 block text-lg font-medium leading-tight">{project.title}</p>
          <p class="mt-1 block text-gray-500">
            {project.startTime.getMonth() + 1}/{project.startTime.getFullYear()} - {
              project.endTime
                ? `
              ${project.endTime.getMonth() + 1}/${project.endTime.getFullYear()}`
                : 'Present'
            }
          </p>
        </div>
        <div>
          <p>{project.responsibilities}</p>
        </div>
      </div>
      <div class="flex flex-wrap gap-1">
        {project.keyWords?.map((kw) => <Chip key={kw}>{kw}</Chip>)}
      </div>
    </div>
  </div>
</div>
